@using System.Linq;
@{
    ViewData["Title"] = "Test";
    List<Question> questions = new List<Question>();
}
@model IEnumerable<Question>

@{
    foreach(var q in Model)
    {
        //this check makes sure that tests have correct unit questions (only of that unit)
        if (q.Unit == TempData["CurrentTest"] as string)
        {
            questions.Add(q);
        }
    }
    Random random = new Random();

    int n = questions.Count;
    while (n > 1)
    {
        n--;
        int k = random.Next(n + 1);
        Question value = questions[k];
        questions[k] = questions[n];
        questions[n] = value;
        
    }
    questions.RemoveAt(n);
}
<div class="container" style="margin-top:5%;">
    <h5 style="margin-top:5%;" class="fw-bold p-2"><i class="fi fi-sr-interrogation "></i> Assesment test </h5>
    @if (TempData["TestType"] == "true or false")
    {
        <form asp-controller="home" asp-action="Submit">

            <ol type="a">
              
               
                    @foreach (var question in questions)
                    {
                        <li>
                        <h5 class="fw-bold">@question.Content</h5>
                        <input type="hidden" name="questionId" value="@question.QuestionId" />
                            <ol type="a">
                               
                                @foreach (var ans in question.Answers)
                                {
                                    <li>

                                    <h5 class="text-secondary"><input type="radio" name="question_@question.QuestionId" value="@ans.AnswerId" checked="checked" /> @ans.Content</h5>




                                    </li>
                                }


                            </ol>
                        </li>
                    }
             </ol>
            <input type="submit" value="Submit" />
        </form>
    }
    else
    {
        
     <form asp-controller="home" asp-action="Submit">
    
    <ol type="1">
            
          @foreach(var question in questions){
                <li>
                        <h5 class="fw-bold">@question.Content</h5>
                    <input type="hidden" name="questionId" value="@question.QuestionId"/>
                   <ol type="a">
                   
                    @foreach (var ans in question.Answers)
                    {
                            <li>


                                    <h5 class="text-secondary"><input type="radio" name="question_@question.QuestionId" value="@ans.AnswerId" checked="checked" /> @ans.Content</h5>
                               
                                   
                              
                               
                            </li>
                    }
                  

                    </ol>
            </li>
           }
           

    </ol>
      <input type="submit" value="Submit" />
    </form> 
}
</div>

